body{
background-image:url("/home/Sem6B10/Downloads/dark_window_2-wallpaper-1920x1080.jpg");
background-repeat:repeat;
background-attachment:fixed;
}
h1{
<img style="border:3px dashed red;"src="
color:maroon;
margin-left:40px;
text-shadow:4px 4px 4px pink;
}
p.s{
color:yellow;
word-spacing:3px;
text-indent:1cm;
font-style:italic;
font-family: Arial, Helvetica,serif;
font-size:20px;
font-weight:bolder;
text-decoration:underline;
text-transform:capitalize;
opacity:0.4;
}
img{
height:200px;
width:100x;
}
img:hover
{
box-shadow:5px 10px ;
border:3px dashed red;
}

